body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

.App {
	text-align: center;
	margin: 0 auto;
	padding: 20px;
}

.App-header {
	background-color: #4CAF50;
	color: white;
	padding: 20px 0;
}

.App-header h1 {
	margin: 0;
}

/* Adjust input styling */
input[type="text"] {
	padding: 10px;
	/* Increased padding */
	margin: 10px 0;
	width: 300px;
	/* Increased width */
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	/* Added box-sizing */
}

button {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #45a049;
}

.weather-container {
	margin-top: 20px;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-container h2 {
	margin-bottom: 10px;
}

.weather-info {
	display: flex;
	flex-wrap: wrap;
	/* Added flex-wrap property */
	justify-content: space-between;
}

.weather-info .card {
	width: 48%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.weather-info p {
	margin: 5px 0;
}

.footer {
	margin-top: 20px;
	padding: 10px;
	background-color: #333;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
}
